<!--
unity webgl responsive

template by dom
dom@crowscrowscrows.com
https://twitter.com/zerstoerer

source code on github
https://github.com/sno/unity-webgl-responsive
-->

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./client/TinGames/ABCash/favicon.ico">

    <link rel="stylesheet" href="../../client/TinGames/ABCash/assets/css/reset.css">
    <link rel="stylesheet" href="../../client/TinGames/ABCash/assets/css/style.css">

    <title>ABCash</title>
  </head>
  <body>
    <div class="webgl-wrapper">
      <div class="aspect"></div>
      <div class="webgl-content">
        <div id="unityContainer">
          <canvas id="unity-canvas" style="background: #231F20"></canvas>
        </div>
      </div>
    </div>

    <script src="../../client/TinGames/ABCash/MyLoader.js"></script>
    <script>
      createUnityInstance(document.querySelector("#unity-canvas"), {
        dataUrl: "../../client/TinGames/ABCash/Build/ABCash.data",
        frameworkUrl: "../../client/TinGames/ABCash/Build/ABCash.framework.js",
        codeUrl: "../../client/TinGames/ABCash/Build/ABCash.wasm",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "DefaultCompany",
        productName: "ABCash",
        productVersion: "1.0",
      }).then((unityInstance) => {
        myGameInstance = unityInstance;
      });
      if (window.confirm('Este jogo necessita que você envie dados sobre suas escolhas dentro do jogo para fins acadêmicos de pesquisa. Deseja continuar?'))
      {
      }
      else
      {
        window.location = "/tingames/projetos";
      }
    </script>

    <!-- check for F key press to toggle full screen -->
    <!--<script>
      var isFullscreen = false;

      document.addEventListener('keydown', function(event) {
          if (event.which === 70) {
              if (!isFullscreen) {
                myGameInstance.SetFullscreen(1);
              } else {
                myGameInstance.SetFullscreen(0);
              }
              isFullscreen = !isFullscreen;
          }
      });
    </script>-->
  </body>
</html>
