<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./client/TinGames/Cursos/img/favicon.ico">

    <title>TinGames</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="./client/TinGames/Cursos/cascade/cursos.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/tingames">Home</a>
            <a class="nav-link" href="/tingames/projetos">Projetos</a>
            <a class="nav-link active" href="/tingames/cursos">Cursos</a>
            <a class="nav-link" href="/tingames/sobre">Sobre</a>
          </nav>
        </div>
      </header>
      </br>

      <main role="main" class="inner cover">
        <span class="lead">Curso Atual: Ensino de Lógica de Programação com Jogos Digitais</span>
        </br>
    </br>
        <video width = 350 height = 200 class="lead" controls="controls">
            <source src="./client/TinGames/Cursos/videos/Fase0.mp4" type="video/mp4">
        </video>
        </br>
    </br>
        <span class="lead">Turmas:</span></br>
        <span class="lead">Turma 1 - Em andamento até dia 12/04</span></br>
        <span class="lead">Turma 2 - Inicia dia 12/04</span></br>
        </br>
        <span class="lead">Acesso no moodle:</span>
        <a class="lead" href="https://moodle.restinga.ifrs.edu.br/course/view.php?id=16">Clique aqui</a>
      </main>

      <footer class="mastfoot mt-auto">
          <div class="inner">
          <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
        </div>
        </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
