<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" type="text/css" href="../client/TinGames/Jogo-da-Velha/style.css">
        <title>Jogo da Velha+</title>
    </head>
    <body>
        <div id="GameDiv">
            <div style="text-align:center">
                <canvas id="cnv" width="800" height="600"></canvas>
            </div>
        </div>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.js"></script>
        <script src = "../client/TinGames/Jogo-da-Velha/scripts/sons.js"></script>
        <script src = "../client/TinGames/Jogo-da-Velha/scripts/interface.js"></script>
        <script src = "../client/TinGames/Jogo-da-Velha/scripts/partida.js"></script>
        <script src = "../client/TinGames/Jogo-da-Velha/scripts/comunicacao_io.js"></script>
        <script src = "../client/TinGames/Jogo-da-Velha/scripts/menu.js"></script>
    </body>
</html>