<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/client/tingames/Home/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/tingames/Home/css/tingames.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a id="active" href="./">Home</a>
                        </li>
                        <li>
                            <a href="./projetos/">Projetos</a>
                        </li>
                        <li>
                            <a href="./sobre/">Sobre</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <figure>
                    <img src="/client/tingames/Home/img/logo1.png"></img>
                </figure>
                <figcaption>
                    <br>
                    <p>Equipe de Games e Gamificação do IFRS Campus Restinga.</p>
                </figcaption>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>