/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ffd6fc;
  border: .05rem solid #ffd6fc;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #0a4bcb;
  background-image: linear-gradient(to right, #0a4bcb , purple);
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #c1ffff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}



/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #c1ffff;
  border-bottom-color: #c1ffff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  color: #fffcca;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: #c1ffff;
}

.card {
  background-color: #063592;
}

#robolabcard {
  background-color: rgb(78, 1, 78);
}