<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/client/tingames/Projetos/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/tingames/Projetos/css/projetos.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a href="../">Home</a>
                        </li>
                        <li>
                            <a id="active" href="./">Projetos</a>
                        </li>
                        <li>
                            <a href="../cursos/">Cursos</a>
                        </li>
                        <li>
                            <a href="../sobre/">Sobre</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <ul>
                    <li>
                        <div>
                            <p class="titulo">Jogo da Velha+</p>
                            <a href="../jogo-da-velha/"><img src="/client/tingames/Projetos/img/thumbnail_jogo-da-velha.png"></img></a>
                            <p class="descricao">Jogo da Velha+ é uma repaginada no jogo da velha clássico, aumentando o número de jogadores e adicionando funcionalidades diferentes como as Armadilhas. Junte seus amigos e jogue algumas partidas!</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">ABCash - Questionário Financeiro</p>
                            <a href="../abcash/questionario/"><img src="/client/tingames/Projetos/img/thumbnail_abcash.png"></img></a>
                            <p class="descricao">ABCash - Questionário Financeiro é um jogo de educação financeira baseado no gênero de jogos de Visual Novel. Você jogará com um personagem chamado Miguel e seu objetivo será tomar as decisões financeiras mais apropriadas à situação dele. Se divirta e não esqueça de compartilhar seus resultados conosco ao fim do jogo!</p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>