<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/client/tingames/Sobre/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/tingames/Sobre/css/sobre.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a href="../">Home</a>
                        </li>
                        <li>
                            <a href="../projetos/">Projetos</a>
                        </li>
                        <li>
                            <a href="../cursos/">Cursos</a>
                        </li>
                        <li>
                            <a id="active" href="./">Sobre</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <p>Resumo:</p>
                <br>
                <p>Nossa equipe busca criar materiais relacionados a jogos digitais e gamificação, incluindo cursos, vídeo e jogos diversos tanto para divertimento quanto para fins educativos. Neste site, vocês poderão acessar alguns de nossos projetos de games.</p>
                <br>
                <br>
                <p>Membros:</p>
                <br>
                <p>Iuri Albandes, Rafael Petry, Diego Mahuzin, Gabriel Goulart, Luis Pacheco, Eduarda Amador, Lorenzo Costa, Paola Yannuzzi, Guilherme Santos, Pedro Alexandre, Eduardo Medeiros, Humberto Oberrather, Gabriel Araujo, Vitoria Gonzales e Gabriela Santos</p>
                <br>
                <br>
                <p>Contatos:</p>
                <br>
                <p>games@restinga.ifrs.edu.br</p>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>