* {
    padding: 0;
    margin: 0;
}

#container {
    max-width: 960px;
    margin: 15px auto;
    width: 90%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #140615;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

header nav {
    text-align: center;
}

header nav ul li {
    color: #cb5ef3;
	display: inline-block;
    list-style: none;
}

header nav ul li a {
    margin-left: 1rem;
    padding: .25rem 0;

    color: rgba(255, 255, 255, .5);
    font-weight: 700;

    border-bottom: .25rem solid transparent;
    text-decoration: none;
}
header nav ul li a:hover, header nav ul li a:focus, 
header nav ul li #active:hover, header nav ul li #active:focus {
    color: #cb5ef3;
}

main {
    margin-top: 60px;
}

main ul {
    text-align: center;
}

main ul li {
	display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 289px;
    background-color: #200a22;
    border-radius: 5px;
    margin-bottom: 20px;
}

main ul li div {
    border-radius: 5px;
    border: 1px solid #0f0511;
}

main ul li div img {
    width: 100%;
    border-radius: 3px;
    min-height: 210px;
}

main ul li div .titulo {
    text-align: center;
    font-weight: 700;
    color: #d698eb;

    padding: 20px 10px;

    text-shadow: none;
    text-decoration: underline;
    font-size: 24px;
}

main ul li div .descricao {
    text-align: justify;
    line-height: 22px;
    color: #ffcb62;
    padding: 20px 10px;
    text-shadow: none;
}

footer {
    margin-top: 70px;
    text-align: center;
    color: #cb5ef3;
}