<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./client/Home/img/favicon.ico">

    <title>Projetos IFRS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="./client/Home/cascade/home.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    </header>

      <main role="main" class="inner cover">
        <div class="container">

            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow" style="width:330px;">
                      <a href = "/tingames/"><img class="card-img-top" src="./client/Home/img/TinGames.png" alt="TinGames"></a>
                  <div class="card-body">
                    <p class="card-text">Equipe de Jogos e Gamificação do IFRS Campus Restinga</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow" id ="robolabcard" style="width:330px;">
                      <a href = "/robolab"><img class="card-img-top" src="./client/Home/img/Robolab.jpeg" alt="RoboLab"></a>
                  <div class="card-body">
                    <p class="card-text">Laboratório de Robótica do IFRS Campus Restinga</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow" id ="inovalabcard" style="width:330px;">
                      <a href = "/inovalab/"><img class="card-img-top" src="./client/Home/img/Inovalab.png" alt="InovaLab"></a>
                  <div class="card-body">
                    <p class="card-text">Laboratório de prototipação digital e inovação do IFRS Campus Restinga</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </main>

      <footer class="mastfoot mt-auto">
          <div class="inner">
          <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
        </div>
        </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
