<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/client/Home/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/Home/css/home.css">
        <title>Projetos IFRS</title>
    </head>
    <body>
        <div id="container">
            <header>
                <ul>
                    <li>
                        <figure>  
                            <a href="https://ifrs.edu.br/restinga/">
                                <img src="/client/Home/img/ifrs.png"></img>
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figcaption>
                            <p>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Sul</p><br><br>
                            <a href="https://ifrs.edu.br/restinga/"><h1>Campus Restinga</h1></a>
                        </figcaption>
                    </li>
                </ul>
            </header>
            <main>
                <ul>
                    <li>
                        <div>
                            <a href="/tingames/"><img src="/client/Home/img/TinGames.jpeg"></img></a>
                            <p>Equipe de Jogos e Gamificação do IFRS Campus Restinga</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="/robolab/"><img src="/client/Home/img/Robolab.jpeg"></img></a>
                            <p>Laboratório de Robótica do IFRS Campus Restinga</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="/inovalab/"><img src="/client/Home/img/Inovalab.png"></img></a>
                            <p>Laboratório de prototipação digital e inovação do IFRS Campus Restinga</p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>