<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/client/TinGames/Cursos/Games&Logica/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/TinGames/Cursos/Games&Logica/css/games&logica.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a href="../">Voltar</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <br>
                <br>
                <p>Games & Lógica: Ensino de Lógica de Programação com Jogos Digitais</p>
                <br>
                <br>
                <video width="350" height="200" class="lead" controls="controls">
                    <source src="/client/TinGames/Cursos/Games&Logica/mp4/Fase0.mp4" type="video/mp4">
                </video>
                <br>
                <br>
                <p>Acesso no moodle: <a href="https://moodle.restinga.ifrs.edu.br/course/view.php?id=628">Clique aqui</a></p>
                <br>
                <br>
                <br>
                <br>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>