<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/client/TinGames/Cursos/Home/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/TinGames/Cursos/Home/css/cursos.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a href="../">Voltar</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <ul>
                    <li>
                        <div>
                            <p class="titulo">Games & Lógica</p>
                            <a href="./games&logica/"><img src="/client/TinGames/Cursos/Home/img/games&logica.png"></img></a>
                            <p class="descricao">
                                Games & Lógica é um curso que busca ensinar conceitos básicos e lógica de 
                                programação em Python utilizando jogos educativos.
                                <br><br><br><br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p style="font-size: 20px" class="titulo">PyGame: Desenvolvendo Jogos em Python</p>
                            <a href="./pygame/"><img src="/client/TinGames/Cursos/Home/img/pygame.jpg"></img></a>
                            <p class="descricao">
                                PyGame: Desenvolvendo Jogos em Python é um curso que busca ensinar a 
                                biblioteca da linguagem de programação Python chamada "PyGame", que é 
                                utilizada para o desenvolvimento de jogos.
                            </p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>