<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="./client/inovalab/css/cursos.css">
    <title>Projetos InovaLab</title>
</head>
<body>
    <header>
        <nav>
            <ul class="ulHeader">
                <li class="liHeader"><a class="aHeader" href="/inovalab">Home</a></li>
                <li class="liHeader"><a class="aHeader" href="/inovalab/sobre">Quem somos?</a></li>
                <li class="liHeader"><a class="aHeader" href="/inovalab/projetos">Projetos</a></li>
                <li class="liHeader"><a class="aHeader" href="/inovalab/cursos" style="color: white;">Cursos & Oficinas</a></li>
                <li class="liHeader"><a class="aHeader" href="/inovalab/recursos">Recursos</a></li>
                <li class="liHeader"><a class="aHeader" href="/inovalab/galeria">Galeria</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="conteudo">
            <div class="texto">
                <h2 class="tituloConteudo">INTRODUÇÃO AO ARDUINO</h2>
                <P class="informi">No curso de introdução ao Arduino você vai aprender sobre:<br>
                    <ul class="ulInforme">
                        <li class="liInforme">Desenho de circuitos eletrônicos básicos no TINKERCAD</li>
                        <li class="liInforme">Programação Básica da plataforma Arduíno Uno, usando TINKERCAD</li>
                        <li class="liInforme">Criação de interfaces de entrada e saída de sinais para o Arduíno uno</li>
                    </ul>
                </P>
            </div>
            <img class="imgConteudo" src="./client/inovalab/img/cursos/arduino.jpg" alt="foto do curso">
        </div>
    </main>
    <footer>
        <section>
            <h3>InovaLab@Restinga</h3>
            <div class="divfooter">
                <img class="imgFooter" src="./client/inovalab/img/home/facebook.png" alt="logo do facebook">
                <a href="https://www.facebook.com/InovaLabCampusRestinga" class="aFooterCenter aFooter">Facebook</a>
            </div>
            <div class="divfooter">
                <img class="imgFooter" src="./client/inovalab/img/home/instagram.png" alt="logo do Instagram">
                <a href="https://www.instagram.com/inovalabrestinga/" class="aFooterCenter aFooter">Instagram</a>
            </div>
        </section>

        <section style="margin-top: auto; margin-bottom: auto;">
            <h3>Canais</h3>
            <div class="divfooter">
                <img class="imgFooter" src="./client/inovalab/img/home/youtube.png" alt="logo do Youtube">
                <a href="https://www.youtube.com/channel/UCWizvmYGt7thpA-LrYCoSkQ" class="aFooterCenter aFooter">Canal no Youtube</a>
            </div>
            <div class="divfooter">
                <img class="imgFooter" src="./client/inovalab/img/home/gmail.png" alt="logo do gmail">
                <a href="" class="aFooterCenter aFooter">Gmail</a>
            </div>
        </section>

        <section>
            <h3>IFRS - CAMPUS RESTINGA</h3>
            <div>
                <a href="" class="aFooter">Rua Alberto Hoffmann, 285 | Bairro Restinga | CEP: 91791-508 | Porto Alegre/RS</a>
            </div>
        </section>
    </footer>
</body>
</html>