<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoboLab - Restinga</title>
    <link href="client/RoboLab/styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div id="imagem-nav">
        <li><img src="client/RoboLab/images/unnamed.png"></li>
      </div>
      <div id="menu-nav">
        <li><a href="#home">Início</li></a>
        <li><a href="#origem">Origem</li></a>
        <li><a href="#metodologia">Metodologia</li></a>
        <li><a href="#laboratorio">Laboratório</li></a>
        <li><a href="#projetos">Projetos</li></a>
      </div>
    </nav>
    <span id="home"></span>
    <div class="bg1">
    <section class="home">
      <h1>ROBOLAB</h1>
      <h2>Um projeto por IFRS - Campus Restinga</h2>
      <h5>
        Atuante desde 2019, o RoboLab muda a história daqueles que participam de suas oficinas. 
        Visando a inovação e a tecnologia, auxiliamos no desenvolvimento 
        daqueles que constroem o projeto conosco.
      </h5>
    </div>
        <h3 id="apresentacao-trabalho">Um pouco do nosso trabalho</h3>
      <div id="container-imagens">
        <!--<img src="/client/RoboLab/images/arrowL.png" alt="" id="arrow">-->  
      <div id="imagem-projetos">
      <img src="/client/RoboLab/images/1.jpeg" alt="" id="img1" >
      <img src="/client/RoboLab/images/2.jpeg" alt="" id="img2">
      <img src="/client/RoboLab/images/3.jpeg" alt="" id="img3">
      <img src="/client/RoboLab/images/1.jpeg" alt="" id="img4">
    </div>
        <!--<img src="/client/RoboLab/images/arrowR.png" alt="" id="arrow">-->  
  </div>
  <div id="button-galeria">
    <div id="separador-button">
      <a href="https://www.google.com/" target="_blank" id="ancora-projetos"><button id="projetos-button">Ver galeria</button></a>
      </div>
</div>
    </section>
    <section id="origem">
      
      <div class="bg2">
      <h1>Origem</h1>
      <div id="infos-fund">
        <div id="centralizer-fund">
          <div id="container-fund">
            <h2>Fundação</h2>
              <div id="aligned-container">
            <h3>
            Fundado em 2019
            O RoboLab busca <span>tornar</span> a robótica <span>acessível</span> a todos, realizando oficinas e 
            <span>ensinando</span> na <span>prática</span> as possibilidades da <span>robótica.</span></h3>
            <img src="/client/RoboLab/images/ai.png" alt="">
            </div>
              </div>
            <div id="container-fund">
            <h2>Industria 4.0</h2>
            <div id="aligned-container">
            <h3>
            Com a <span>Industria 4.0</span> é notório o papel da robótica. Portanto, 
            é necessário uma <span>capacitação</span> das  <span>novas gerações.</span></h3>
            <img src="/client/RoboLab/images/mechArm.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="metodologia">
  <h1>Metodologia</h1>
  <div id="infos-metodologia">
    <div id="centralizer-metodologia">
      <div id="container-metodologia">
        <h2>Ferramentas</h2>
        <h3>
          <span>Elaboração</span> de projetos com Lego, Arduino, prototipagem e <span>incentivo</span> a 
          criatividade com a <span>criação</span> e impressão de peças 3D.
        </h3>
      </div>
    </div>
    <div id="centralizer-metodologia">
      <div id="container-metodologia">
        <h2>Metodologia</h2>
        <h3>
          <span>Desenvolvimento</span> de pesquisas e estudos na área da robótica, 
          contando com diversos <span>bolsistas</span> que auxiliam na <span>evolução</span> do projeto.
        </h3>
      </div>
    </div>
  </div>
  <div id="box-image">
  <div class="bg3">
  </div>
</div>
</section>
<section id="laboratorio">
  <h1>Laboratório</h1>
  <div id="infos-metodologia">
    <div id="centralizer-metodologia">
      <div id="container-metodologia">
        <h2>Espaço</h2>
        <h3>
          Um espaço de <span>confraternização</span>, com <span>desenvolvimento</span> de projetos para a <span>capacitação</span> de alunos.
        </h3>
      </div>
    </div>
    <div id="centralizer-metodologia">
      <div id="container-metodologia">
        <h2>Visitas</h2>
        <h3>
         Venha nos visitar e <span>adquirir experiências</span> para sua vida, basta preencher um formulário de interesse e <span>agendar</span>  sua visita.
        </h3>
        <a href="https://forms.gle/Rr27TKhpdBZESQSCA"  target="_blank"><button>Quero visitar</button></a>
      </div>
    </div>
  </div>
  <div id="box-image">
    <h3>Localização:<a target="_blank" href="https://www.google.com/maps/place/Instituto+Federal+do+Rio+Grande+do+Sul,+Campus+Restinga/@-30.140901,-51.1301035,15z/data=!4m2!3m1!1s0x0:0x66aa16285ce09a67?sa=X&ved=2ahUKEwjckoq5kqH7AhUzppUCHTsiC6cQ_BJ6BAhQEAU"><span2>R. Alberto Hoffmann, 285 - Restinga, Porto Alegre - RS, 91791-508 | Sala 503 </span2></h7></h3></a> 
    <a target="_blank" href="https://www.google.com/maps/place/Instituto+Federal+do+Rio+Grande+do+Sul,+Campus+Restinga/@-30.140901,-51.1301035,15z/data=!4m2!3m1!1s0x0:0x66aa16285ce09a67?sa=X&ved=2ahUKEwjckoq5kqH7AhUzppUCHTsiC6cQ_BJ6BAhQEAU"><div class="bg4">
  </div> </a>
</div>
<section id="projetos">
  <h1>Projetos</h1>
  <div id="centralizer-projetos">
  <div id="container-projetos">
    <div id="bg-projetos"><img src="/client/RoboLab/images/Escavadeira.png" alt=""></div>
    <div id="info-projetos">
      <div id="text-projetos">
        <h5>Escavadeira</h5>
        <h5>Competição</h5>
        <h5>Lego</h5>
        <h5>Marista 2022</h5>
      </div>
    </div>
  </div>
  <div id="container-projetos">
    <div id="bg-projetos"><img src="/client/RoboLab/images/Escavadeira.png" alt=""></div>
    <div id="info-projetos">
      <div id="text-projetos">
        <h5>Escavadeira</h5>
        <h5>Competição</h5>
        <h5>Lego</h5>
        <h5>Marista 2022</h5>
    </div>
    </div>
  </div>
  <div id="container-projetos">
    <div id="bg-projetos"><img src="/client/RoboLab/images/Escavadeira.png" alt=""></div>
    <div id="info-projetos">
      <div id="text-projetos">
        <h5>Escavadeira</h5>
        <h5>Competição</h5>
        <h5>Lego</h5>
        <h5>Marista 2022</h5>
      </div>
    </div>
  </div>
  </div>
  <div id="separador-button">
  <a href="./projetos" target="_blank" id="ancora-projetos"><button id="projetos-button">Mais projetos</button></a>
  </div>
</section>
<div id="backTop">
  <a href="#home"><img src="client/RoboLab/images/arrowUp.png" alt=""></a></div>
<footer>
  <div id="container-footer">
    <div id="redes-footer">
  <a href="https://www.instagram.com/robolabrestinga/" target="_blank"><img src="/client/RoboLab/images/InstagramL.png" alt=""></a>
  <a href="https://www.youtube.com/channel/UCL29JLVueqZs3pHW3Qr2UZg" target="_blank"><img src="/client/RoboLab/images/YoutubeL.png" alt=""></a>
  </div>
  <h4>copyright © 2022 | RoboLab by Restinga</h4>
</div>
  </div>
</footer>
  </body>
</html>