<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/client/RoboLab/images/favicon.png" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/client/RoboLab/styles/style.css" rel="stylesheet" />
    <title>Projetos | RoboLab - Restinga</title>
</head>
<body>
    <nav>
      <div id="imagem-nav">
        <li><img src="/client/RoboLab/images/unnamed.png"></li>
      </div>
      <div id="menu-nav">
        <li><a href="/robolab/#home">Início</li></a>
        <li><a href="/robolab/#origem">Origem</li></a>
        <li><a href="/robolab/#metodologia">Metodologia</li></a>
        <li><a href="/robolab/#laboratorio">Laboratório</li></a>
        <li><a href="/robolab/#projetos">Projetos</li></a>
      </div>
    </nav>
    <section id="projetos_pagina">
      <h1 id="title_projeto">Projetos</h1>
    <div id="coluna_projetos">
      <a href="google.com"id="foto_projetos"><div id="imagem"><img src="/client/RoboLab/images/Escavadeira.png" id="imagem_projeto"></div><img src="/client/RoboLab/images/fundo.png" alt=""></a>
      <a href="google.com"id="foto_projetos"><div id="imagem"><img src="/client/RoboLab/images/Escavadeira.png" id="imagem_projeto"></div><img src="/client/RoboLab/images/fundo.png" alt=""></a>
      <a href="google.com"id="foto_projetos"><div id="imagem"><img src="/client/RoboLab/images/Escavadeira.png" id="imagem_projeto"></div><img src="/client/RoboLab/images/fundo.png" alt=""></a>
      <a href="google.com"id="foto_projetos"><div id="imagem"><img src="/client/RoboLab/images/Escavadeira.png" id="imagem_projeto"></div><img src="/client/RoboLab/images/fundo.png" alt=""></a>
    </div>
    </section>
    <footer>
      <div id="container-footer" >
        <div id="redes-footer">
      <a href="https://www.instagram.com/robolabrestinga/" target="_blank"><img src="/client/RoboLab/images/InstagramL.png" alt=""></a>
      <a href="https://www.youtube.com/channel/UCL29JLVueqZs3pHW3Qr2UZg" target="_blank"><img src="/client/RoboLab/images/YoutubeL.png" alt=""></a>
      </div>
      <h4>copyright © 2022 | RoboLab by Restinga</h4>
    </div>
      </div>
    </footer>
</body>
</html>