<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos | RoboLab - Restinga</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoboLab - Restinga</title>
    <link href="/client/RoboLab/styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div id="imagem-nav">
        <li>Imagem(Logo)</li>
      </div>
      <div id="menu-nav">
        <li><a href="/">Início</li></a>
        <li><a href="/">Origem</li></a>
        <li><a href="/">Metodologia</li></a>
        <li><a href="/">Laboratório</li></a>
        <li><a href="/">Projetos</li></a>
      </div>
    </nav>
    <section id="projetos_pagina">
    <div id="coluna_projetos">
      <div id="bgteste"><div id="imagem"></div><img src="/client/RoboLab/images/fundo.png" alt=""></div>
      <div id="bgteste"><div id="imagem"></div><img src="/client/RoboLab/images/fundo.png" alt=""></div>
      <div id="bgteste"><div id="imagem"></div><img src="/client/RoboLab/images/fundo.png" alt=""></div>
      <div id="bgteste"><div id="imagem"></div><img src="/client/RoboLab/images/fundo.png" alt=""></div>
    </div>
    </section>
    <footer>
      <div id="container-footer" >
        <div id="redes-footer">
      <a href="https://www.instagram.com/robolabrestinga/" target="_blank"><img src="/client/RoboLab/images/InstagramL.png" alt=""></a>
      <a href="https://www.youtube.com/channel/UCL29JLVueqZs3pHW3Qr2UZg" target="_blank"><img src="/client/RoboLab/images/YoutubeL.png" alt=""></a>
      </div>
      <h4>copyright © 2022 | RoboLab by Restinga</h4>
    </div>
      </div>
    </footer>
</body>
</html>