<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/Client/TinGames/Main/Home/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/Client/TinGames/Main/Home/css/home.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a id="active" href="./">Home</a>
                        </li>
                        <li>
                            <a href="./projetos/">Projetos</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <figure>
                    <img src="/Client/TinGames/Main/Home/img/logo.jpeg"></img>
                </figure>
                <ul>
                    <li>
                        <div>
                            <p class="titulo">Quem Somos:</p>
                            <p class="descricao">
                                O Tinga Games é uma equipe de um projeto de pesquisa do IFRS Campus Restinga
                                que realiza diversas atividades relacionadas a jogos e gamificação, tais como: 
                                desenvolvimento de jogos, produção de cursos <i>gamificados</i> e administração
                                de um clube de jogos de tabuleiro, cartas e RPG.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Membros</p>
                            <p style="text-align: center;" class="descricao">
                                Iuri Albandes<br>
                                Rafael Petry<br>
                                Francine Delanni<br>
                                Maria Rita<br>
                                Diego Mazuhim<br>
                                Adrian Torres<br>
                                Guilherme Santos
                                <br><br><br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Contatos</p>
                            <p style="text-align: center;" class="descricao">
                                games@restinga.ifrs.edu.br
                                <br><br><br><br><br><br><br><br><br>
                            </p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>