<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/Client/TinGames/Main/Projetos/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/Client/TinGames/Main/Projetos/css/projetos.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a href="../">Home</a>
                        </li>
                        <li>
                            <a id="active" href="./">Projetos</a>
                        </li>
                        <li>
                            <a href="../sobre/">Sobre</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <ul>
                    <li>
                        <div>
                            <p class="titulo">Jogos</p>
                            <a href="./jogos/"><img src="/Client/TinGames/Main/Projetos/img/jogo_da_velha.png"></img></a>
                            <p class="descricao">Jogos desenvolvidos pela equipe do Tinga Games.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Cursos</p>
                            <a href="./cursos/"><img src="/Client/TinGames/Main/Projetos/img/pygame.jpg"></img></a>
                            <p class="descricao">Cursos produzidos e disponibilizados pela equipe do Tinga Games.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Clube de Jogos</p>
                            <a href="./clube/"><img height="300px"src="/Client/TinGames/Main/Projetos/img/clube.jpeg"></img></a>
                            <p class="descricao">O Clube de Jogos do Tinga Games disponibiliza jogos de tabuleiro, RPG e jogos de cartas para os alunos e servidores dentro do Campus Restinga.</p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>