<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/client/TinGames/Testes/ABCash/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/TinGames/Testes/ABCash/css/abcash.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <main>
                <ul>
                    <li>
                        <div>
                            <p class="titulo">Versão Teste 1.0</p>
                            <a href="./teste/?buildNum=1"><img src="/client/TinGames/Testes/ABCash/img/jornada1.png"></img></a>
                            <p class="descricao">Versão do Jornada onde foram implemetadas algumas das telas de prototipação ao sistema.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Versão Teste 1.1</p>
                            <a href="./teste/?buildNum=2"><img src="/client/TinGames/Testes/ABCash/img/jornada2.png"></img></a>
                            <p class="descricao">Versão do Jornada com restruturação da UI, sprites e funcionamento de contratação.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Versão Teste 1.2</p>
                            <a href="./teste/?buildNum=3"><img src="/client/TinGames/Testes/ABCash/img/jornada3.png"></img></a>
                            <p class="descricao">Versão do Jornada com geração de novas galáxias e mercados distintos.</p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>