<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/Client/TinGames/Clube/Home/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/Client/TinGames/Clube/Home/css/home.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a id="active" href="./">Home</a>
                        </li>
                        <li>
                            <a href="./jogos/">Jogos Disponíveis</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <figure>
                    <img src="/Client/TinGames/Clube/Home/img/clube.jpeg"></img>
                </figure>
                <ul>
                    <li>
                        <div>
                            <p class="titulo">Como Funciona?</p>
                            <p class="descricao">Os jogos ficarão disponíveis para qualquer estudante ou servidor utilizar - contando com o auxílio dos bolsistas presentes.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Quando?</p>
                            <p class="descricao">Todas <b>segundas</b> e <b>quartas</b> no LEM (sala 505) - das <b>12:00</b> às <b>13:30!</b></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Como Participa?</p>
                            <p class="descricao">Você pode vir sozinho ou com amigos! Apenas precisa ir no horário previsto!</p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>