<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/Client/TinGames/Clube/Jogos/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/Client/TinGames/Clube/Jogos/css/jogos.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a href="../">Home</a>
                        </li>
                        <li>
                            <a id="active" href="./jogos/">Jogos Disponíveis</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <ul>
                    <li>
                        <div>
                            <p class="titulo">Arkhan Horror</p>
                            <img src="/Client/TinGames/Clube/Jogos/img/arkhan_horror.jpg"></img>
                            <!--<p class="descricao">Arkham Horror é um jogo de tabuleiro cooperativo para um a seis jogadores que assumem o papel de investigadores tentando livrar o mundo de seres antigos conhecidos como Ancient Ones. Baseado na mitologia de H.P. Lovecraft, os jogadores terão que juntar pistas, derrotar monstros aterrorizantes, e encontrar ferramentas e aliados se quiserem ter alguma chance de derrotar as criaturas que habitam um pouco além do véu da nossa realidade.</p>-->
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Canvas</p>
                            <img src="/Client/TinGames/Clube/Jogos/img/canvas.jpg"></img>
                            <!--<p class="descricao">Em Canvas, você joga como um pintor competindo em uma competição de arte. Os jogadores irão coletar cartas de arte, colocando 3 delas juntas para criar sua própria pintura única. Cada cartão contém uma obra de arte, bem como um conjunto de ícones usados durante a pontuação. Os ícones serão revelados ou ocultos com base na maneira como os jogadores escolhem para colocar as cartas em camadas, criando um quebra-cabeça emocionante. As pinturas são pontuadas com base em um conjunto de cartas de pontuação que mudam a cada jogo. Assim que os jogadores criarem e marcarem 3 pinturas, o jogo termina.</p>-->
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Catan</p>
                            <img src="/Client/TinGames/Clube/Jogos/img/catan.jpg"></img>
                            <!--<p class="descricao">Em Catan os jogadores tentam ser a força dominante na ilha de Catan, construindo estradas, vilas e cidades. Em cada turno, os dados são rolados para determinar quais recursos a ilha produz. Os jogadores coletam esses recursos - madeira, trigo, tijolo, ovelha ou pedra - para construir suas civilizações, chegar a 10 pontos de vitória e ganhar o jogo.</p> -->
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>