* {
    padding: 0;
    margin: 0;
}

#container {
    max-width: 960px;
    margin: 15px auto;
    width: 90%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #0a4bcb;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

main {
    margin-top: 100px;
}

main ul li {
	display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-left: 2%;
    width: 30%;
    background-color: #063592;
    border-radius: 5px;
    margin-bottom: 20px;
}

main ul li div {
    border-radius: 5px;
    border: 1px solid #062c7a;
}

main ul li div img {
    width: 100%;
    border-radius: 3px;
}

main ul li div .titulo {
    text-align: center;
    font-weight: 700;
    color: #FFD6FC;

    padding: 20px 10px;

    text-shadow: none;
    text-decoration: underline;
}

main ul li div .descricao {
    text-align: center;
    color:#FFFCCA;
    padding: 20px 10px;
    text-shadow: none;
}

footer {
    margin-top: 170px;
    text-align: center;
    color: #C1FFFF;
}