* {
    padding: 0;
    margin: 0;
}

#container {
    max-width: 960px;
    margin: 15px auto;
    width: 90%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(19, 126, 39);
}

header {
    background-color: rgb(14, 85, 27);
    padding: 60px;
    text-align: center;
    border-radius: 5px;
}

header ul li {
	display: inline-block;
    list-style: none;
    text-decoration: none;
}

header ul li figure {
    margin-bottom: 15px;
    margin-right: 15px;
}

header ul li figcaption {
    float: left;
}

header ul li figcaption p {
    color: #C1FFFF;
}

header ul li figcaption a {
    color: white;
    text-decoration:none;
    font-size: large;
}
header ul li figcaption a:hover {
    text-decoration:underline;
}

main {
    margin-top: 50px;
}

main ul li {
	display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-left: 2%;
    width: 30%;
    background-color: rgb(14, 85, 27);
    border-radius: 5px;
    margin-bottom: 20px;
}

main ul li div {
    border-radius: 5px;
    border: 1px solid rgb(12, 71, 23);
}

main ul li div img {
    width: 100%;
    border-radius: 3px;
}

main ul li div p {
    text-align: center;
    color:#FFFCCA;
    padding: 20px 10px;
}