<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/client/tingames/AmbienteDeTestes/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/tingames/AmbienteDeTestes/css/testes.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <main>
                <ul>
                    <li>
                        <div>
                            <a href="./jornada/"><img src="/client/tingames/AmbienteDeTestes/img/jornada.png"></img></a>
                            <p class="descricao">Versões de teste do Jornada do Empreendedor.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="./ano64/"><img src="/client/tingames/AmbienteDeTestes/img/ano64.png"></img></a>
                            <p class="descricao">Versões de teste do Ano64.</p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>