<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/client/tingames/AmbienteDeTestes/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/tingames/AmbienteDeTestes/css/testes.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <main>
                <ul>
                    <li>
                        <div>
                            <p class="titulo">Versão Alpha 1.0</p>
                            <a href="./teste/?buildNum=1"><img src="/client/tingames/AmbienteDeTestes/img/ano64.png"></img></a>
                            <p class="descricao">Versão do Ano64 que já contém todas mecânicas básicas do diário e sistema de salvamento.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Versão Alpha 1.1</p>
                            <a href="./teste/?buildNum=2"><img src="/client/tingames/AmbienteDeTestes/img/ano64.png"></img></a>
                            <p class="descricao">Versão do Ano64 que possui uma história de base.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="titulo">Versão Alpha 1.2</p>
                            <a href="./teste/?buildNum=3"><img src="/client/tingames/AmbienteDeTestes/img/ano64-3d.png"></img></a>
                            <p class="descricao">Versão do Ano64 que possui suporte para Point and Click.</p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>