<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/client/tingames/Projetos/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/client/tingames/AmbienteDeTestes/css/testes.css">
        <title>TinGames</title>
    </head>
    <body>
        <div id="container">
            <main>
                <ul>
                    <li>
                        <div>
                            <p class="titulo">Versão Alpha 1.0</p>
                            <a href="./teste/?buildNum=1"><img src="/client/TinGames/AmbienteDeTestes/img/jornada.png"></img></a>
                            <p class="descricao">Versão do Jornada onde foram implemetadas algumas das telas de prototipação ao sistema.</p>
                        </div>
                    </li>
                </ul>
            </main>
            <footer>
                <p>Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
            </footer>
        </div>
    </body>
</html>