elemento {
  --font-h1: 26px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif !important;
}

body {
  background-color: #17181d!important;
  color: #FCD9B8 !important;
  height: 100vh;
}

nav {
  width: 100% !important;
  position: fixed !important;
  top: 0 !important;
  z-index: 100 !important;

  list-style: none !important;
  justify-content: space-around !important;
  display: flex !important;

  background-color: black !important;
  color: white !important;

  height: 60px !important;

  margin-top: auto !important;
}

nav li {
  margin: auto;
}

nav #imagem-nav {
  display: flex !important;
}

nav #menu-nav {
  display: flex !important;
}

nav #menu-nav li {
  margin-left: 15% !important;
}

nav #menu-nav:last-child{
  margin-right: 20% !important;
}

nav ul li a:hover {
  cursor: pointer !important;
}

nav li a:hover{
  color: #E09145 !important;
}

nav a {
  text-decoration: none !important;
  color: white !important;
}

nav a:visited {
  text-decoration: none !important;
  color: white !important;
}

/* END NAV */

/* HOME */

.bg1 {
  background-image: url(/client/RoboLab/images/bg.png);
  background-size: cover;
  background-position: center;
  height: 60%;
  backdrop-filter: brightness(60%);
}

.home {
  margin: 40px auto;
  text-align: center;
  display: grid;
}

.home h1 {
  margin-top: 75px;
  margin-bottom: 20px;
  font-size: 46px;
}
.home h2 {
  margin-bottom: 15px;
  font-size: 26px;
  width: 95%;
  margin: auto;
  text-align: center;
}
.home h5 {
  margin: auto;
  font-weight: 100;
  font-size: 16px;
  width: 500px;
}

button {
  width: 180px !important;
  height: 40px !important;
  border-radius: 30px !important;
  cursor: pointer !important;
}


#container-imagens{
  display: flex;
}

#arrow{
  cursor: pointer;
  margin: auto;
  height: 1.8vw;
}

#apresentacao-trabalho{
  font-size: 26px;
  text-align: center;
  margin-top: 60px;
}

#imagem-projetos{
  margin: 30px auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

#imagem-projetos img {
  width: 24%;
  border-radius: 30px;
}

#galeria-button {
  border: none !important;
  display: block;
  margin: auto;
  background-color: #352f2b;
  color: #E09145;
  font-weight: 700;
}

#button-galeria{
  display: flex;
  margin: auto;
  text-decoration: none;
}

#separador-button{
  margin: auto;
}

/*END HOME*/

.bg2 {
  background-image: url(/client/RoboLab/images/bg2.png);
  background-size: cover;
  background-position: center;
  min-height: 765px;
}


#origem h1{
  margin-bottom: 40px;
  text-align: center;
}

#origem {
  margin-top: 100px;
  font-size: 30px;
}

span {
  color: #E09145;
  font-weight: 600;
}
span2{
  font-size: 20px;
}

#container-fund{
  width: 75%;
  margin: 10% auto;
  
}

#infos-fund {
  background-color: #352f2b;
  margin: auto;
  width: 43%;
  border-radius: 30px;
  display: flex;
  box-shadow: 20px 20px 80px #000000;
}

#container-fund h2{
  text-align: left;
  font-size: 26px
}

#aligned-container {
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

#aligned-container h3 {
  font-size: 18px;
  font-weight: 100;
}

#container-fund img{
  margin-left: 60px;
  max-height: 160px;
}

/*METODOLOGIA*/

#metodologia {
  margin-top: 100px;
  font-size: 30px;
}

#metodologia h1{
 text-align: center;
 margin-bottom: 20px;
}

#infos-metodologia{
  font-size: 24px;
  margin: auto;
  display: flex;
  width: 85%;
  text-align: justify;
}

#infos-metodologia h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 100;
}

#container-metodologia{
  padding: 40px;
}

button {
  border: none !important;
  margin-top: 3%;
  background-color: #352f2b;
  color: #E09145;
  font-weight: 700;
}
button:hover{
  background-color: #E09145;
  color: #352f2b;
}

.bg3{
  background-image: url(/client/RoboLab/images/fundoRoboLab.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 90%;
  margin: auto;
  border-radius: 30px;
}

#bg-projetos{
  background: url('/client/RoboLab/images/.jpg') center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#button-projetos a{
  display: flex;
  margin: auto;
  text-decoration: none;
}

#button-projetos button {
  margin: 12px auto;
  height: 35px;
  width: 280px;
  border: none !important;
  background-color: #352f2b;
  color: #E09145;
  font-weight: 700;
}


/*LABORATÓRIO*/

#laboratorio {
  margin-top: 100px;
  font-size: 30px;
}

#laboratorio h1{
 text-align: center;
 margin-bottom: 20px;
}

#infos-laboratorio{
  font-size: 24px;
  margin: auto;
  display: flex;
  width: 85%;
  text-align: justify;
}

#infos-laboratorio h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 100;
}

#container-laboratorio{
  padding: 40px;
}

#box-image h3{
  margin-left: 8%;
  width: 80%;
}

.bg4{
  background-image: url(/client/RoboLab/images/mapa2.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 90%;
  margin: auto;
  border-radius: 30px;
}

/*PROJETOS*/

#info-projetos{
  width: 100%;
}

#centralizer-projetos{
  margin: auto;
  width: 70%;
}

#box-image h3 {
  margin: auto;
}

#backTop{
  display: flex;
  margin-top: 70px;
  justify-content: flex-end;
  margin-right: 20px;
}

#backTop img{
  width: 45px;
  margin-bottom: 10px;
}

footer {
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 125px;
  background-color: #352f2b;
}

footer img {
  width: 70px;
  border-radius: 50px;
  margin-top: 15px;
}

footer img:last-child{
  margin-left: 5px;
}
footer img:first-child{
  margin-right: 5px;
}

#container-footer{
  display: flex;
  flex-direction: column;
  margin: auto;
}

#redes-footer{
  margin: auto;
  display: flex;
}

#container-footer h4{
  margin-top: 15px;
  font-size: 12px;
  font-weight: 100;
  color: #E09145;
}

button a{
  margin: auto;
  text-decoration: none;
}

a:link {
  color: inherit;
}

/* link que foi visitado */
a:visited {
   color: inherit;
}

/* GALERIA */
#title_projeto, #title_galeria{
  margin-top: 60px;
  font-size: 42px;
  text-align: center;
}
#foto_galeria h4{
  text-align: center;
  font-size: 20px;
  background-color: #dddddd;
  color: #352f2b;
  border-radius: 0 0 10px 10px;
}

#coluna_galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#foto_galeria {
  display: flex;
  margin-top: 40px;
  width: 320px;
  height: 260px;
  flex-direction: column;
}

#galeria_pagina{
  margin-top: 60px;
}

#foto_galeria #imagem{
  background-color: red;
  min-width: 47%;
  height: 250px;
  display: flex;
  border-radius: 10px 10px 0 0;
}

#foto_galeria:last-child{
  margin-bottom: 40px;
}
/* PROJETOS */

#coluna_projetos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#projetos_pagina{
  margin-top: 60px;
}

#foto_projetos {
  display: flex;
  margin-top: 40px;
  background-color: #000000;
  min-width: 47%;
  height: 300px;
  flex-direction: column;
  border-radius: 30px;
}

#foto_projetos img{
  min-width: 47%;
  height: 50px;
  margin: auto;
}

#foto_projetos #imagem{
  background-color: #352f2b;
  width: 100%;
  height: 250px;
  display: flex;
  border-radius: 20px 20px 0 0;
}

#foto_projetos:last-child{
  margin-bottom: 40px;
}

#foto_projetos #imagem_projeto{
  height: 90%;
  width: 45%;
}

#foto_projetos:hover{
  transition: 0.5ms;
  opacity: 55%;
}

.w-100{
  border-radius: 20px;
}

.carousel {
  margin-top: 2%;
  width: 70%;
  margin: 10% auto; 
  top: -20px;
}

.carousel-inner {
  border-radius: 30px;
}

.carousel-inner2{
  display: none;
}

.carousel-mobile{
  display: none;
}

.bg6{
  position: relative;
  top: 60px;
  background-image: url(/client/RoboLab/images/bg2.png);
  background-size: cover;
  background-position: center;
  min-height: 440px;
  
}

.carousel-control-prev-icon {
  background-image: url(/client/RoboLab/images/arrowL.png) !important;
  height: 40px !important;
  width: 40px !important;
}
.carousel-control-next-icon {
  background-image: url(/client/RoboLab/images/arrowR.png) !important;
  height: 40px !important;
  width: 40px !important;
}
/*MEDIAS*/

@media (max-width: 610px){
  .bg1 {
    height: 75%;
  }
  nav {
    display: none !important;
  }
  .bg6{
    min-height: 220px ;
  }
}

@media (max-width: 610px){
  #backTop{
    margin-top: 60px;
  }
  
}

@media (max-width: 790px){
#infos-metodologia{
  width: auto;
  flex-wrap: wrap;
}
nav #menu-nav li {
  margin-left: 10% !important;
}
.bg4 {
  display: none;
}

}

@media (max-width: 1100px){
  #arrow{
    height: 3.8vw;
  }
  #imagem-projetos img {
    width: 32%;
  }
  #imagem-projetos #img4{
    display: none;
  }
}

@media (max-width: 900px){
  nav #menu-nav:last-child{
    margin-right: 30% !important;
  }   
  #container-projetos:last-child{
    display: none;
  }
  #container-projetos {
    width: 45%;
  } 
}

@media (max-width: 900px){
  #imagem-projetos img {
    width: 48%;
  }
  #imagem-projetos #img3 {
    display: none;
  }
  #arrow{
    height: 5.8vw;
  }

}

@media (max-width: 630px){
  #imagem-projetos img {
    width: 85%;
  }
  #imagem-projetos #img2 {
    display: none;
  }
  #container-projetos:first-child{
    display: none;
  }
  #container-projetos {
    width: 75%;
  } 
}

@media (max-width: 585px){
  #bg-projetos img {
    margin-top: 25px;
    width: 60%;
  }
  #foto_projetos:last-child{
    display: none;
  }
  #foto_projetos{
    min-width: 75%;
  }
}

@media (max-width: 435px){
  #bg-projetos img{
    margin-top: 35px;
    width: 85%;
  }
  .carousel-pc{
    display: none;
  }
  .carousel-mobile{
    display: flex;
  }
}

@media (max-width: 768px){
  #container-fund img{
    display: none;
  } 
  #infos-fund {
    width: 50%;
  }
  .bg2{
    min-height: 550px;
  }
  #aligned-container h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 100;
  }
  .home h5 {
    width: 85%;
  }
  .home{
    margin-top: 0px;
  }
  .home h1 {
    margin-top: 80px;
  }
  .carousel{
    width: 90%;
  }
}
@media (max-width: 1100px){
  #infos-fund {
    width: 75%;
  }
  .bg1 {
    height: 75%;
  }
}

@media(max-width: 800px){
  .fotos{
    width: 48%;
  }
  #foto_projetos #imagem_projeto{
    height: 80%;
    width: 65%;
  }
}
@media(max-width: 600px){
  .fotos{
    width: 85%;
  }
}
@media(max-width: 340px){
  #foto_projetos #imagem_projeto{
    height: 80%;
    width: 80%;
  }
}

