body{
    background-color: #1986A0;
    margin: auto;
}

.ulHeader{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: auto;
    
}

.liHeader{
    list-style: none;
}

.aHeader{
    font-size: larger;
    color: #545454;
    border-bottom-color: #545454;
    font-family: fantasy;
}

.aHeader:hover {
    transition-delay: 100ms;
    color: white;
}

.conteudo{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.texto{
    width: 40%;
}

.tituloConteudo{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.informi{
    font-size: 23px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ainformacao{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.ainformacao:hover{
    color: #E6ECF0;
}

.imgConteudo{
    width: 30%;
    height: auto;
}

.imgBorder{
    border: 1px solid white;
}

.informacao{
    color: #ffd966;
    font-size: small;
    text-align: center;
}

.liInforme{
    font-size: large;
    color: white;
}


footer{
    display: flex;
    justify-content: space-around;
    background-color: #41CCD5;
    padding: 8.5px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

section{
    width: 250px;
}

h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:medium;
}

.divfooter{
    display: flex;
}

.aFooterCenter{
    margin-top: auto;
    margin-bottom: auto;
}

.aFooter{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgFooter{
    width: 30px;
    height: 30px;
}
